{% extends "main/wrapper.html" %}
{% load crispy_forms_tags %}

{% block title %}Профиля аккаунта {{ request.user }}{% endblock %}
{% block content %}
<section id="profile" class="main">
        <div class="content dark style1 featured">
            <div class="container1">
                <div class="row">
                    <div class="col-12-narrow">
                        <section class="profile">
                            <header>
                                <h5> Профиль аккаунта</h5>
                            </header>
                            <p>{{ request.user }}</p>
                            <p>Статус</p>
                            <a class="btn btn-outline-primary" href="#">Написать сообщение</a>
                            <p>О себе:</p>
                            <p>Тип:</p>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Тип пользоавтеля
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Студент</a>
                                    <a class="dropdown-item" href="#">Не студент</a>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-4 col-12-narrow">
                        <section class="math">
                            <header>
                                <h5> Чеки</h5>
                            </header>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <divclass="container-fluid">
<divclass="card">
<divclass="card-body">
<h4class="card-title">Новый чек</h4>
<form method="POST" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
<button type="submit"class="btn btn-success">Добавить</button>
</form>
</div>
</div>
</div>
</div>
    <footer>

    </footer>
    {% endblock %}
    
