{% extends "main/wrapper.html" %}
{% block title %}Профиля аккаунта{% endblock %}
{% block content %}
<section id="profile" class="main">
        <div class="content dark style1 featured">
            <div class="container1">
                <div class="row">
                    <div class="col-12-narrow">
                        <section class="profile">
                            <header>
                                <h5> Профиль аккаунта</h5>
                            </header>
                            <p>Имя Фамилия</p>
                            <p>Статус</p>
                            <a class="btn btn-outline-primary" href="#">Написать сообщение</a>
                            <p>О себе:</p>
                            <p>Тип:</p>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Тип пользоавтеля
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Студент</a>
                                    <a class="dropdown-item" href="#">Не студент</a>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-4 col-12-narrow">
                        <section class="math">
                            <header>
                                <h5> Чеки</h5>
                            </header>
                            <p>Добавить чек</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>

    </footer>
    {% endblock %}
    
