{% extends "main/wrapper.html" %}
{% block title %}MathHelp{% endblock %}
{% block content %}
	<section id="header" class="dark">
                <section id="box" class="">
                    <header>
                        <h1>Добро пожаловать на MatHelp</h1>
                        <p>Сервис по оказанию материальной помощи</p>
                    </header>
                </section>

		<!-- First -->
			<section id="first" class="main">
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-narrow">
								<section>
									<header>
										<h3>Шаг 1</h3>
									</header>
									<p>На данном этапе человек, который имеет чек, но не может подать на мат помощь находит того, у кого имеется такая возможность, они договариваются о дележке.</p>
								</section>
							</div>
							<div class="col-4 col-12-narrow">
								<section>
									<header>
										<h3>Шаг 2</h3>
									</header>
									<p>На нашем сайте мы предоставляем образцы документов, вы их заполняете, сдаете в деканат, далее следующий шаг.</p>
								</section>
							</div>
							<div class="col-4 col-12-narrow">
								<section>
									<header>
										<h3>Шаг 3</h3>
									</header>
									<p>Дожидаетесь своего профита, и не забываете поделиться с напарником, или сходить вместе в бар.</p>
								</section>
							</div>
							
						</div>
					</div>
				</div>
			</section>
		<footer class="footer"></footer>
{% endblock %}