{% extends 'main/wrapper.html' %}

{% block content %}
<div class="container mt-3">

    <div class="card-deck text-center mt-0">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h2 class="font-weight-normal mt-0">Ваш добавленный чек</h2>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title mt-0">Создатель: <small class="text-muted"> {{ post.author }}</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Сумма покупки: {{ post.chequeAmount }}</li>
              <li>Дата покупки: {{ post.chequeDate }} </li>
              <li>Было куплено: {{ post.chequeThing }}</li>
              <li>Где куплено: {{ post.shop }}</li>
              <li>Ссылка на владельца чека:<a href="{% url '{{ post.ref }}' %}"> {{ post.ref }}</a></li>
              <li>Дата добавления: {{ post.date }}</li>
            </ul>
        </div>
      </div>
{% endblock %}