{% extends "main/wrapper.html" %}
{% block title %}MathHelp{% endblock %}
{% block content %}
<main class="recom">
<h5 class="type.stud">Рекомендации для студентов</h5>
<p>1. Правила получения материальной помощи: </p>
<ul>
<li>Правила</li>
<li>Про одежду смешанную с другой не позволяющей подать </li>
</ul>
<p>2. Перед обменом посмотрите из какого магазина чек.Чеки из сомнительных магазинов рекомендуем не брать </p>
<p>3. Обязательно посчитайте 50% от суммы, на которую вам предлагают чек. Если вам не готовы дать чек ниже этой цифры, то подумайте перед тем как согласиться на обмен. </p>
<p>ЗДЕСЬ ВЫ МОЖЕТЕ НАЙТИ ЗАЯВЛЕНИЕ НА ПОЛУЧЕНИЕ МАТЕРИАЛЬНОЙ ПОМОЩИ В ВАШЕМ ИНСТИТУТЕ</p>
<h5 class="type.user">Рекомендации для пользователей</h5>
<p>Рекомендуем не завшать запрашиваемую сумму за чек более чем на 25% от общей суммы чека, за исключением случаев, когда сумма покупки превышает 5000 рублей</p>
</main>
{% endblock %}